.player {
  font-family: "JetBrains Mono Medium", "Material Design Icons Desktop";
  background-color: $bg;
  padding: 0.96rem;
  min-height: 19.2rem;
  border-radius: 0.96rem;

  .player-art {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 0.49rem black;
    border-radius: 1.92rem;
    min-width: 35.2rem;

    .player-info {
      border-radius: 1.6rem;
      background: linear-gradient(to right,
          rgb(#191919, 1),
          rgba(#262626, 0.5));
      padding: 1.04rem;

      .player-shuffle,
      .player-loop {
        font-size: 1.6rem;
        text-shadow: 0 0 0.32rem black;
      }

      .spotify-icon {
        font-size: 2.0rem;
        color: $green;
        text-shadow: 0 0 0.32rem black;
      }

      .mpd-icon {
        font-size: 2.0rem;
        color: $magenta;
        text-shadow: 0 0 0.32rem black;
      }

      .player-title {
        font-style: italic;
        font-family: Cartograph CF;
        font-size: 1.77rem;
        font-weight: bold;
        color: #f4f4f4; /* ash: fixed color over album art */
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.85);
      }

      .player-artist {
        font-family: JetBrainsMono NF;
        font-weight: bolder;
        font-size: 1.28rem;
        color: #f4f4f4; /* ash: fixed color over album art */
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.85);
      }

      .player-time {
        font-style: italic;
        font-family: Cartograph CF;
        font-size: 1.28rem;
        color: #f4f4f4; /* ash: fixed color over album art */
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.85);
      }

      .player-bar scale trough highlight {
        all: unset;
        background-image: linear-gradient(to right,
            darken($color: $green, $amount: 15%),
            $green );
        border-radius: 3.2rem;
      }

      .player-bar scale trough {
        all: unset;
        background-color: rgba($fg, 0.3);
        box-shadow: 0px 0px 2px 1px rgba(black, 0.5);
        border-radius: 1.6rem;
        min-height: 0.56rem;
        margin: 0.0rem 0.32rem 0.32rem 0.0rem;
      }

      .player-position {
        font-size: 1.45rem;
        font-weight: 500;
        color: $fg;
      }
    }
  }

.min {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 1.77rem;
  padding: 0 1.45rem;
  color: $red;
}

.min:hover {
  color: $magenta;
}

  .player-controls {
    padding: 0.0rem 1.11rem 0.0rem 1.6rem;
    border-radius: 1.6rem;

    .player-toggle {
      font-size: 2.56rem;
      color: $fg;
    }

    .player-previous,
    .player-next {
      font-size: 2.56rem;
      color: $fg;
    }

    button {
      &:hover {
        color: $magenta;
      }
    }
  }
}

.lyrics-box {
  background-color: $bg;
  color: $fg;
  padding: 1.6rem 1.92rem;
  font-size: 1.52rem;
}
