* {
    font: "JetBrainsMono NF Bold 9";
    background: #f4f4f4;
    bg-alt: #C9BB92;
    background-alt: #f4f4f4E0;
    foreground: #3d3d3d;
    selected: #B7C6AB;
    active: #7A9984;
    urgent: #CAB365;
}
