* {
    font: "JetBrainsMono NF Bold 9";
    background: #2b1711;
    bg-alt: #ef9e57;
    background-alt: #2b1711E0;
    foreground: #cac5c3;
    selected: #bfbbbc;
    active: #c4aa71;
    urgent: #989991;
}
