* {
    font: "JetBrainsMono NF Bold 9";
    background: #2d0f08;
    bg-alt: #ea7452;
    background-alt: #2d0f08E0;
    foreground: #cac3c1;
    selected: #a39d94;
    active: #908465;
    urgent: #c16369;
}
